<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%thread::%d{HH:mm:ss.SSS} [%-5level]: %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>wordmaster.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%thread::%d{HH:mm:ss.SSS} [%-5level]: %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.wordmaster" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </logger>

    <root level="NONE">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="file" />-->
    </root>
</configuration>